body {
    font-family: "Arial", sans-serif;
    text-align: center;
}
header{
    background-color: beige;
    padding: 1em;
}
ul{
    list-style-type: none;
}
ul li{
    display: inline;
    padding-left: 0;
}
footer{
    background-color: black;
    color: white;
    padding: 1em;
}
